<html>
<head>
    <meta charset="UTF-8" />
    <title>Country</title>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<table>
    <caption>Countries</caption>
    <thead>
    <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="3">Built with all the love in the world by <a href="http://juanpabloprado.com/" target="_blank">Juan Pablo Prado</a></td>
    </tr>
    </tfoot>
    <tbody>
    {{#countries}}
    <tr>
        <th scope="row">{{code}}</th>
        <td>{{name}}</td>
    </tr>
    {{/countries}}
    </tbody>
</table>
</body>
</html>